[submodule "intelligent_traffic"]
	path = intelligent_traffic
	url = git@github.com:OpenHUTB/intelligent_traffic.git
[submodule "platform"]
	path = platform
	url = git@github.com:OpenHUTB/intelligent_traffic.git
[submodule "gpt"]
	path = gpt
	url = https://github.com/OpenHUTB/gpt.git
[submodule "matlab"]
	path = matlab
	url = https://github.com/OpenHUTB/matlab
[submodule "doc/roadrunner"]
	path = doc/roadrunner
	url = https://github.com/OpenHUTB/roadrunner
[submodule "doc/roadrunner-scenario"]
	path = doc/roadrunner-scenario
	url = https://github.com/OpenHUTB/roadrunner-scenario
[submodule "utils"]
	path = utils
	url = https://github.com/openhutb/utils
